/* --------------------------
Global styles and settings
-------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {

    background: rgb(27, 27, 27);
    color: #e1efff;
    font-family: Arial, Helvetica, sans-serif;
}


.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    transition: color 300ms ease-in-out;
}

a:hover,
a:focus {
    color: #596e83;
    text-decoration: none;

}

p {
    line-height: 1.6;
    font-size: 1.2rem;
}


/* --------------------------
Header (with Nav)
-------------------------- */
header {
    background: black;
    color: #e1efff;
}


h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: .2em;
}

/* Note - @media queries on this stylesheet are organised in separate sections rather than in a single grouping at the end. Largely because the images all needed different positioning settings and it was easier to keep track of when they were close by. Also, while learning different techniques it was useful to have the modified properties visible.  */

@media (min-width: 500px) {
    h1 {
        font-size: 3rem;
        letter-spacing: 10px;
    }
}

/* Nav */

.list-outer {
    list-style: none;
    padding: .5em;
    padding-bottom: .5em;
}

.list-item {
    font-size: 1.3rem;
    margin-bottom: .2em;
}

@media (min-width: 500px) {
    .nav-box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .list-outer {
        display: inline;
    }

    .list-item {
        font-size: 1rem;
        margin-bottom: .6em;
    }
}


.cont-active,
.cont-active:hover,
.cont-active:focus {
    color: #1640c9;
    background: #050e2ba9;
    text-transform: lowercase;
    font-size: .98rem;

}

.prod-active,
.prod-active:hover,
.prod-active:focus {
    color: #3f0d0d;
    background: #861a1a;
    text-transform: lowercase;
    font-size: .95rem;

}

.comp-active,
.comp-active:hover,
.comp-active:focus {
    color: #071d08;
    background: #1c2e1d;
    text-transform: lowercase;
    font-size: .95rem;

}

@media (max-width: 500px) {
    .cont-active,
    .prod-active,
    .comp-active {
        font-size: 1rem;
    }
}

/* --------------------------
      Img backgrounds
-------------------------- */

.index-img {
    background-color: #050e2bde;
    background-image: url(../images/index.jpg);
    background-blend-mode: soft-light;
    background-position: bottom;
    

}



.prod-img {
    background-color: #4b160c;
    background-image: url(../images/prod.jpg);
    background-blend-mode: soft-light;
    background-position: center;
}

@media (min-width: 790px) {
    .index-img {
        background-position: center;
    }

    .prod-img {
        background-position: top;
    }
}

.recmix-img {
    background-color: #050e2b;
    background-image: url(../images/recmix.jpg);
    background-blend-mode: soft-light;
    background-position: center;
}

.comp-img {
    background-color: #1c2e1d;
    background-image: url(../images/compose.jpg);
    background-blend-mode: soft-light;
    background-position: top;
    
}

.contact-img {
    background-color: #050e2bde;
    background-image: url(../images/contact.jpg);
    background-blend-mode: soft-light;
    background-position: left;
    
}


.img-background {
    display: block;
    max-width: 100%;
    background-size: cover;
    width: 100%;
    height: 75vh;
}

/* ---------------------------------
Body content
--------------------------------- */


.body-content {

    max-width: 90%;
    height: 80vh;

}



.text-large {
    margin-top: 15%;
    background-color: #596e8371;
    border: 1px solid rgba(135, 207, 235, 0.082);

}

.index-text {
    max-width: 40%;
    padding-top: 0;
    background-color: #596e8371;
    position: absolute;
    margin-top: 5%;
    margin-left: auto;
    font-size: .8rem;
}

.prod-text {
    max-width: 50%;
    margin: 8% auto;
}

.comp-text {
    max-width: 60%;
    margin: 8% auto 0 0;
}


@media (max-width: 500px) {
    .text-large {
        display: none;
    }

    .text-small {
        margin: .5em 0;
        display: block;
        font-size: 1.2rem;
    }

 i {
     display: none;
 }


    .ind-link1 {
        color: red;
    }

    .ind-link2 {
        color: green;
    }

    .ind-link3 {
        color: blue;
    }

}

@media (min-width: 500px) {
    .text-small {
        display: none;
    }

}

@media (min-width: 680px) {

    .index-text,
    .prod-text,
    .comp-text {
        font-size: 1rem;
    }
}

@media (min-width: 800px) {
    .body-content {
        max-width: 80%;
    }
}

@media (min-width: 1000px) {
    .body-content {
        max-width: 70%;
    }
}

.audio-section {
    margin: 7em auto;

    display: flex;
    flex-direction: column;
    max-height: 40vh;
    border: 1px solid rgba(135, 207, 235, 0.233);


}

.audio-units {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5em;

}

.audio-labels {

    margin-right: 2.5em;
    font-size: .8rem;
    font-weight: bold;
    text-align: left;
    letter-spacing: 1px;
    background-color: rgba(225, 239, 255, 0.39);
    color: #050e2b;


}

audio {
    border-radius: 0px;
    height: 1em;
    width: 40%;
    opacity: .5;

}

@media (max-height: 500px) {
    audio {
        max-width: 2%;
    }
}

/* ---------------------------------
Contact section and Form
--------------------------------- */

.number {
    font-weight: lighter;
}

.contact-box {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 5vh;
}



.contact-box h2 {
    margin-bottom: 1em;
}

form {
    
    max-height: 60vh;
    
}

@media (max-width: 500px) {
    .contact-box {
       padding-top: 2vh;
    }

    .contact-box h2 {
            margin-bottom: .5em;
        }

}


form * {
    font-style: inherit;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: .3em;
    border: 0;
    padding: .4em;
    border-radius: 5px;
    background-image: linear-gradient(to right, black, #050e2b, hsl(9, 27%, 29%));
    color: white;

}

@media (max-width: 500px) {
    form * {
        font-size: 1rem;
    }
}

label {
    background: none;
}

textarea {
    font-style: inherit;
    resize: none;
    min-height: 30vh;
   
}


form label {
    font-size: 1em;
    padding: 0;
}

.btn {
    font-size: 1.2rem;
    margin-bottom: 0;
    width: 50%;
    transition: color 300ms ease-in-out;
}

@media (max-width: 500px) {

    .btn {
    font-size: 1rem;
}
}

.btn:hover,
.btn:focus {
    color: #596e83;
    cursor: pointer;
    background-image: radial-gradient(black, #050e2b, hsl(9, 27%, 29%));

}


.form-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;


}

form {
    margin-bottom: 15vh;
}



/* --------------------------
Footer
-------------------------- */

footer {

    background: black;
    min-height: 5rem;
    vertical-align: bottom;
}



.footer-box {
    color: #b3cee9;
    display: inline-block;
    margin: 2em auto;
    padding: 1em 0;
    letter-spacing: 1.5px;

}

.ctext {
    text-transform: lowercase;
    font-size: 1.1rem;
}

.envelope-icon {
    color: #b3cee9;
    transition: color 300ms ease-in-out;
}

.envelope-icon:hover,
.envelope-icon:focus {
    color: #1f3068;
}

.marike-credit {
    color: #596e83;
    font-size: .6rem;
    letter-spacing: 1.5px;
    margin-top: 1em;
    opacity: .8;
}


.marike-link {
    background-color: #050e2b;
    padding: .2em .3em;
    border-radius: 10px;
    color: #eaf1f8;
    font-size: .7rem;
    margin-left: .2em;
    text-transform: lowercase;
}