/* --------------------------
Global styles and settings
-------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(27, 27, 27);
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;        
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* --------------------------
Header (with Nav)
-------------------------- */
header {
    background: black;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: .2em;
}

/* Nav */

.list-outer {
    list-style: none;
    padding: .5em;
    padding-bottom: .5em;
}

.list-item {
    font-size: 1.3rem;
    margin-bottom: .2em;
}

/* --------------------------
      Img backgrounds
-------------------------- */

.index-img {
    background-color: #050e2b;
    background-image: url(../images/index.jpg);  
    background-blend-mode: soft-light;
    background-position: bottom;
    padding-top: 3em;
          
}

.prod-img {
    background-color: #4b160c;
    background-image: url(../images/prod.jpg);  
    background-blend-mode: soft-light;
    background-position: center;
}
.recmix-img {
    background-color: #050e2b;
    background-image: url(../images/recmix.jpg);  
    background-blend-mode: soft-light;
    background-position: center;
}

.comp-img {
    background-color: #4b160c;
    background-image: url(../images/compose.jpg);  
    background-blend-mode: soft-light;
    background-position: top;
    /* padding-top: 3em; */
}

.contact-img {
    background-color: #050e2b;
    background-image: url(../images/contact.jpg);  
    background-blend-mode: soft-light;
    background-position: left;
    /* padding-top: 3rem; */
    padding-bottom: 5rem;
}

.img-background {
    display: block;
    max-width: 100%;   
    background-size: cover;
    width: 100%;
    height: 75vh;
}


/* ---------------------------------
Contact section and Form
--------------------------------- */

.contact-box {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 5vh; 
      
    
}

.contact-box h2 {
    margin-bottom: 1em;
}

form * {
    font-size: 1.5rem;
    max-width: 100%;
    margin-bottom: .3em;
    border: 0;
    padding: .4em 1.6em;
    border-radius: 5px;
    background-image: linear-gradient(to right,black, #050e2b, hsl(9, 27%, 29%));
    color: white;
   
}


form label {
    font-size: 1em;
    padding: 0;
}

.btn {
    font-size: 1.2em;
    margin-bottom: 0;
    
}

.btn:hover, .btn:focus {
    color: red;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

form {
    margin-bottom: 15vh;
}



/* --------------------------
Footer
-------------------------- */

footer {
    background: black;
    min-height: 5rem;
    
}

.footer-box {
    display: inline-block;
    margin: 2em auto;
}